<!DOCTYPE html>
<html>
<head>
    <title>Testing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/icon" href="/images/favicon.ico">
</head>
<body>
<h1>RSS Data </h1>
<p>The data is: {{ data }}</p>

<form id="myForm1" method="post">
    Enter name: <input type="text" name="name">
    Enter Height: <input type="integer" name="height">
    Enter Weight: <input type="integer" name="weight">
    <input type="submit" value="Submit">
</form>


<p> hahah </p>
</body>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/myscript.js"></script>
<script src="/javascripts/typeahead.bundle.js"></script>


</html>

