{% extends "layout.htm" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Myth or Fact?</h3>
                    <p class="panel-subtitle">A quiz educating you on the facts of the pandemic</p>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Quiz</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}